---
layout: default
---

<h1>{{page.preferredName}} ({{page.publishYear}})</h1>
{% for contributor in page.contributor %}
{% assign contrib = site.people | where_exp: "item", "item.slug contains contributor.contributorId" %}
{% for cont in contrib %}
<a href="{{site.baseurl}}/{{cont.url}}">{{cont.preferredName}}</a> ({{contributor.contributorRole}})
{% endfor %}
{% endfor %}
{% if page.variantName %}
<div id="names">Variant Name(s): {{page.variantName | join: ", "}}</div>
{% endif %}
{% if page.originalLanguage %}
<div id="originallang">
Original Language: {{page.originalLanguage}}
</div>
{% endif %}
<p>
{{page.content}}
</p>